<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/stylesheets/print.css" media="print">

    <title>pugdebug - standalone debugging client for PHP</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href='http://pugdebug.com'>pugdebug</a></h1>
        <h2>standalone debugging client for PHP</h2>

        <section id="downloads">
          <a href="https://github.com/robertbasic/pugdebug/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/robertbasic/pugdebug/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/robertbasic/pugdebug" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
          {{ content }}
      </section>
    </div>

  </body>
</html>
